@import "../../styles/mixins";

.featureItem {
  position: relative;
  display: flex;
  gap: 12*$baseIndent;

  @media (max-width: $xl) {
    gap: 9*$baseIndent;
  }

  @media (max-width: $lg) {
    gap: 3.75*$baseIndent;
  }

  @media (max-width: $md) {
    gap: 3*$baseIndent;
  }

  @media (max-width: $sm) {
    gap: 5*$baseIndent;
    flex-flow: column;
  }

  &_reverse {
    flex-flow: row-reverse;
  }

  &Content {
    flex-shrink: 0;
  }

  &Image {
    width: 100%;
    display: block;

    &_shadow {
      @include ld_shadow_noHover();
    }
  }

  &Circle {
    z-index: -1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &_right {
      right: 0;
      transform: translate(50%, -50%);
    }

    &_left {
      left: 0;
      transform: translate(-50%, -50%);
    }
  }
}