@import "../../styles/mixins";

.blockTemplate {
  display: flex;
}

.content {
  margin: 0 auto;

  @media (min-width: $xs) {
    width: 288px;
  }
  @media (min-width: $sm) {
    width: $smc;
  }
  @media (min-width: $md) {
    width: $mdc;
  }
  @media (min-width: $lg) {
    width: $lgc;
  }
  @media (min-width: $xl) {
    width: $xlc;
  }
}