@import "../../styles/mixins";

.textBlock {
  color: $ld_color_black;

  &_medium {
    width: 360px;

    @media (max-width: $xl) {
      width: 312px;
    }
    @media (max-width: $lg) {
      width: 300px;
    }
    @media (max-width: $md) {
      width: 264px;
    }
    @media (max-width: $sm) {
      width: 288px;
    }
  }

  &_large {
    width: 575px;

    @media (max-width: $xl) {
      width: 408px;
    }
    @media (max-width: $lg) {
      width: 330px;
    }
    @media (max-width: $md) {
      width: 264px;
    }
    @media (max-width: $sm) {
      width: 288px;
    }
  }

  &TopContent {
    @include ld_font_h4();
    border-bottom: 1px solid $ld_color_darkGreen;
    padding-bottom: 3*$baseIndent;
    margin-bottom: 4*$baseIndent;

    @media (max-width: $lg) {
      padding-bottom: 2*$baseIndent;
      margin-bottom: 3*$baseIndent;
    }

    &_large {
      padding-bottom: 6*$baseIndent;
      margin-bottom: 6*$baseIndent;
    }
  }

  &BottomContent {
    @include ld_font_text();
  }
}