@import "../../../styles/mixins";

.headBlockHeader {
  display: flex;
  align-items: center;
  height: 82px;

  &Logos {
    margin-right: auto;
  }

  &Logo {
    display: flex;
    align-items: center;
  }

  &Logo:not(:first-child) {
    margin-left: 3*$baseIndent;
  }

  &Logos, &Buttons {
    display: flex;
  }

  @media (max-width: $sm) {
    &Buttons {
      display: none;
    }
    &Logos {
      margin-right: 0;
    }
  }

  &Line {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 16px;
    background-image: url("../../../public/images/header/line-xs.svg");
    background-position: center;

    @media (min-width: $sm) {
      background-image: url("../../../public/images/header/line-s.svg");
    }
    @media (min-width: $md) {
      background-image: url("../../../public/images/header/line-m.svg");
    }
    @media (min-width: $lg) {
      background-image: url("../../../public/images/header/line-l.svg");
    }
    @media (min-width: $xl) {
      background-image: url("../../../public/images/header/line-xl.svg");
    }
  }
}