@import "../../styles/mixins";

.whatsNewBlock {
  margin-top: 23.5*$baseIndent;
  position: relative;

  &Bulb {
    z-index: -1;
    top: -75px;
    left: -110px;
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url("../../public/images/whatsnew/bulb.svg");
    background-blend-mode: overlay;
  }

  &Title {
    @include ld_font_h2();
    margin-top: 2*$baseIndent;
    margin-bottom: 7*$baseIndent;
    @media (min-width: $xl) {
      margin-bottom: 8*$baseIndent;
    }
  }
}

.letsStart {
  @include ld_font_h5();
  color: $ld_color_gray2;
}

.circle {
  top: -300px;
  left: -330px;
  z-index: -1;
  position: absolute;
  opacity: 0.6;

  @media (max-width: $xl) {
    top: -330px;
    left: -260px;
  }

  @media (max-width: $lg) {
    top: -300px;
    left: -330px;
  }

  @media (max-width: $md) {
    top: -180px;
    left: -230px;
  }

  @media (max-width: $sm) {
    top: -160px;
    left: -130px;
  }
}

.site {
  display: flex;
  @media (max-width: $sm) {
    flex-flow: column;
  }
}

.quote {
  @include ld_font_h4();
  width: 524px;
  margin-left: -10*$baseIndent;

  @media (max-width: $xl) {
    width: 480px;
  }

  @media (max-width: $lg) {
    width: 435px;
  }

  @media (max-width: $md) {
    width: 336px;
  }

  @media (max-width: $sm) {
    width: 100%;
    align-self: end;
  }

  hr {
    width: 360px;
    opacity: 0.3;
    border-top: 1px $ld_color_darkGreen solid;
    margin-bottom: 0;
    margin-top: 88px;

    @media (max-width: $xl) {
      width: 336px;
    }
    @media (max-width: $lg) {
      width: 330px;
      margin-top: 112px;
    }
    @media (max-width: $md) {
      width: 240px;
      margin-top: 5px;
    }
    @media (max-width: $sm) {
      width: 264px;
      margin-top: 3*$baseIndent;
    }
  }
}

.tanyaImg {
  display: flex;
  width: 232px;
  @media (max-width: $md) {
    width: 192px;
    margin-top: 26px;
  }
  @media (max-width: $sm) {
    width: 232px;
    margin-top: 0;
  }
}

.tanyaSign {
  @include ld_font_medium();
  background-color: $ld_color_white;
  padding: 2*$baseIndent;
  margin-left: 3*$baseIndent;
  width: 316px;
  border-radius: 2*$baseIndent;
  @media (max-width: $xl) {
    width: 312px;
  }
  @media (max-width: $lg) {
    width: 312px;
  }
  @media (max-width: $md) {
    width: 254px;
  }
  @media (max-width: $sm) {
    width: 263px;
  }
}