@import "../../styles/mixins";

.whatsNewBlock {
  margin-top: 23.5*$baseIndent;
  position: relative;

  &Bulb {
    z-index: -1;
    top: -75px;
    left: -110px;
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url("../../public/images/whatsnew/bulb.svg");
    background-blend-mode: overlay;
  }

  &Title {
    @include ld_font_h2();
    margin-top: 2*$baseIndent;
    margin-bottom: 7*$baseIndent;
    @media (min-width: $xl) {
      margin-bottom: 8*$baseIndent;
    }
  }

  &LetsStart {
    @include ld_font_h5();
    color: $ld_color_gray2;
  }
}