@import "../../styles/mixins";

$normalSize: 800px;
$normalSize_s: 600px;
$normalSize_xs: 400px;

$bigSize: 1152px;
$bigSize_l: 800px;
$bigSize_s: 600px;
$bigSize_xs: 400px;

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;

  &DefaultGradient {
    background: $ld_color_g1;
  }

  &Turquoise {
    background: $ld_color_turquoise;
  }

  &YellowGradient {
    background: $ld_color_g2;
  }

  &DarkGreen {
    background: $ld_color_darkGreen;
  }

  &NormalSize {
    width: $normalSize;
    height: $normalSize;
    @media (max-width: $md) {
      width: $normalSize_s;
      height: $normalSize_s;
    }

    @media (max-width: $sm) {
      width: $normalSize_xs;
      height: $normalSize_xs;
    }
  }

  &BigSize {
    width: $bigSize;
    height: $bigSize;
    @media (max-width: $xl) {
      width: $bigSize_l;
      height: $bigSize_l;
    }
    @media (max-width: $md) {
      width: $bigSize_s;
      height: $bigSize_s;
    }
    @media (max-width: $sm) {
      width: $bigSize_xs;
      height: $bigSize_xs;
    }
  }
}

